<div class="about">
  <div class="container text-white">
    <div class="row">
      <div class="col-md-4">
        <h3 class="text-uppercase">location</h3>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>
      <div class="col-md-4">
        <h3 class="text-uppercase">about the web</h3>
        <div class="social-links">
          <a href=""><i class="fa-brands fa-facebook"></i></a>
          <a href=""><i class="fa-brands fa-twitter"></i></a>
          <a href=""><i class="fa-brands fa-linkedin"></i></a>
          <a href=""><i class="fa-solid fa-globe"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <h3>ABOUT FREELANCER</h3>
        <p>Freelance is a free to use, licensed Bootstrap theme</p>
      </div>
    </div>
  </div>
</div>
