<div class="contact">
  <p class="fw-bold fs-3 text-center mb-4 pb-5">CONATCT SECTION</p>
  <div class="d-flex align-items-center p-3">
    <div class="line me-3"></div>
    <i class="fa-solid fa-star "></i>
    <div class="line ms-3"></div>
  </div>
  <form action="">
    <input type="text" placeholder="userName" class="form-control" />
    <input type="number" placeholder="userAge" class="form-control" />
    <input type="email" placeholder="userEmail" class="form-control" />
    <input type="password" placeholder="userPassword" class="form-control" />
    <button class="btn btn-success text-white mt-4 ">send Message</button>
  </form>
</div>
