<div class="port mt-5 pt-5">
  <h2 class="text-center">PORTFOLIO COMPONENT</h2>
  <div class="d-flex align-items-center p-3">
    <div class="line me-3"></div>
    <i class="fa-solid fa-star"></i>
    <div class="line ms-3"></div>
  </div>
  <div class="container">
    <div class="row m">
      <div class="col-md-4">
        <div class="card">
          <div class="img">
            <img src="./assets/imgs/poert1.png" alt="" class="w-100 rounded" />
          </div>
          <div class="layer rounded">
            <div>
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
        <div class="light-container d-none">
          <div class="light-box"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="img">
            <img src="./assets/imgs/port2.png" alt="" class="w-100 rounded" />
          </div>
          <div class="layer rounded">
            <div>
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="img">
            <img
              src="../../assets/imgs/port3.png"
              alt=""
              class="w-100 rounded"
            />
          </div>
          <div class="layer rounded">
            <div>
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row m">
      <div class="col-md-4">
        <div class="card">
          <div class="img">
            <img
              src="./assets/imgs/poert1.png"
              alt=""
              class="w-100 rounded"

            />
          </div>
          <div class="layer rounded">
            <div>
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="img">
            <img src="./assets/imgs/port2.png" alt="" class="w-100 rounded" />
          </div>
          <div class="layer rounded">
            <div>
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="img">
            <img
              src="../../assets/imgs/port3.png"
              alt=""
              class="w-100 rounded"
            />
          </div>
          <div class="layer rounded">
            <div>
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-body></app-body>
