.home {
  background-color: #1abc9c;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.w-90 {
  width: 90%;
}
.line {
  height: 4px;
  width: 80px;
  background-color: #fff;
}
.d-flex {
  flex-direction: row;
  justify-content: center;
}
.line i{
  color: #fff;
  background-color: #fff;
}
